<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> User information </title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h2> User information </h2>
<br/><br/>

<table>
    <tr>
        <td>Username</td>
        <td>:</td>
        <td th:utext="${user.getUsername()}"/>
    </tr>
    <tr>
        <td>Password</td>
        <td>:</td>
        <td th:utext="${user.getPassword()}"/>
    </tr>
        <tr>
        <td>Roles</td>
        <td>:</td>
        <td>
            <ul>
                <li th:each="role : ${user.getRoles()}">
                    <a th:utext="${role.getName()}"/>
                </li>
            </ul>
        </td>
    </tr>
</table>
<br><br>
<form action="/logout" method="POST">
    <button type="submit">Logout</button>
</form>

</body>
</html>